
td{
    border: 1px #000000 solid;
    padding: 10px;
    text-align: center;
}
th{
    border: 1px #000000 solid;
    text-align: center;
}
body {
    overflow-x: hidden;
  }
#containertble{
    
    max-width:600px;
}

@media(max-width:656px){
    #containertble{
        overflow-x: auto;
        max-width:250px;
    }
}