

#side{
    width: 20%;
    height: 100vh;
    background-color: #1d2634;
    padding: 20px;
    float: left;
    margin: 0;
    color: white;
    box-sizing: border-box;

}

#side a{
    color: white;
   
    padding: 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;

}
#side #aa{
    color: white;
    display: flex;
    flex-direction: row;
    padding: 15px;
    text-decoration: none;
    display: block;
    border-radius: 5px;

}

@media (max-width: 768px) {
    #side{
        width: 100%;
        height: auto;
        float: none;
    }
}

